In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import folium
import requests
import json
import matplotlib.cm as cm
import matplotlib.colors as colors
from geopy import distance
from sklearn.cluster import KMeans
from geopy.geocoders import Nominatim
print('First Libaries Imported')


with open('SheffBond.json') as json_data:
    sheffield_data = json.load(json_data)

First Libaries Imported

In [22]:
sheffPcodes = pd.read_csv('Postcodes.csv')
sheffPcodes.drop(columns=['Easting', 'Northing','Grid Reference', 'Postcodes','Active postcodes', 'Population', 'Households', 'Nearby districts'], inplace=True)
sheffPC = sheffPcodes.loc[sheffPcodes['Region']=='Sheffield']
sheffPC = sheffPC.loc[sheffPcodes['Town/Area']!='Bulk users']
sheffPC = sheffPC.loc[sheffPcodes['Town/Area']!='Non-geographic']
sheffPC.reset_index(inplace=True)
sheffPC.head()

,index,Postcode,Latitude,Longitude,Town/Area,Region
0,2353,S1,53.3806,-1.46947,Sheffield City Centre,Sheffield
1,2354,S2,53.3714,-1.45078,"Arbourthorne, Heeley, Highfield, Manor, Norfol...",Sheffield
2,2355,S3,53.3868,-1.47302,"Broomhall, Burngreave, Neepsend, Netherthorpe",Sheffield
3,2356,S4,53.3977,-1.45150,"Grimesthorpe, Pitsmoor",Sheffield
4,2357,S5,53.4223,-1.46223,"Firth Park, Shirecliffe, Shiregreen, Southey G...",Sheffield

In [23]:
sheffPC.describe(include='all')

,index,Postcode,Latitude,Longitude,Town/Area,Region
count,19.000000,19,19.000000,19.000000,19,19
unique,NaN,19,NaN,NaN,19,1
top,NaN,S3,NaN,NaN,"Firth Park, Shirecliffe, Shiregreen, Southey G...",Sheffield
freq,NaN,1,NaN,NaN,1,19
mean,2362.684211,NaN,53.376321,-1.461523,NaN,NaN
std,6.847973,NaN,0.037462,0.059021,NaN,NaN
min,2353.000000,NaN,53.322500,-1.576210,NaN,NaN
25%,2357.500000,NaN,53.348450,-1.501645,NaN,NaN
50%,2362.000000,NaN,53.371400,-1.469470,NaN,NaN
75%,2366.500000,NaN,53.397250,-1.432950,NaN,NaN
max,2378.000000,NaN,53.458100,-1.349750,NaN,NaN

In [25]:
sheffPC.to_csv('pcout.csv',index=False)